@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');
@import url('https://fonts.googleapis.com/css?family=Lora');

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10/16px = 62.5%
}

body {
  padding: 1.5rem;
  font-family: 'Lora', serif;
  font-size: 1.8rem;
}

.background {
  background-image: url("https://images.unsplash.com/photo-1519120443186-4620c77c7130?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2819&q=80");
  position: relative;
  height: 95vh;
  background-size: cover;
  box-shadow: 0 2rem 1.5rem rgba(0, 0, 0, .2);
}

.header-primary {
  font-family: 'Homemade Apple', cursive;
  letter-spacing: 1.5rem;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  font-size: 5rem;
}

.rules {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;

}

.header-secondary {
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 1.2rem;
  font-size: 3rem;
  text-align: center;
  margin: 3rem;
  margin-top: -2rem;
}

.rules__section {
  background: white;
  padding: 6rem;
  margin: 5rem;
  box-shadow: 0 2rem 1.5rem rgba(0, 0, 0, .2);
  line-height: 3.5rem;
}

.rules__item {
  margin: 1.5rem;
}

.rules__section input {
  font-family: inherit;
  font-size: 1.5rem;
  padding: .5rem;
  border-radius: 100px;
  border: 1px solid;
  border-color: #ccc;
  width: 65%;
}

.rules_section input:focus {
  outline: none;
}

.difficulty {
  padding: .5rem;
  font-family: inherit;
  font-size: 1.5rem;
  background-color: white;
  border: 1px solid;
  border-color: #ccc;
  border-radius: 100px;
  width: 60%;
}

.button-container {
  text-align: center;
}

.button {
  padding: .5rem 1rem;
  font-size: 1.5rem;
  font-family: 'Lora', serif;
  text-transform: uppercase;
  border: none;
  margin: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all .2s;
}

.button:hover {
  transform: translateY(-.35rem) scale(1.05);
}

.container {
  margin: 5rem;
}

.items {
  padding: 2rem;
  margin-left: 2rem;
  display: inline-block;
  background-color: white;
  box-shadow: 0 2rem 1.5rem rgba(0, 0, 0, .2);
}

.time-and-scores {
  width: 50vw;
}

#user-textbox {
  background-color: white;

  box-shadow: 0 2rem 1.5rem rgba(0, 0, 0, .2);
  margin-left: 2rem;
  margin: 2rem;
}

.prompt-div {
  background-color: white;
  padding: 3rem;
  margin: 2rem;

  display: inline-block;
  box-shadow: 0 2rem 1.5rem rgba(0, 0, 0, .2);
}

.prompt-div span {
  margin: .2rem;
  display: inline-block;
}

.modal-alert {
  background-color: white;
  box-shadow: 0 2rem 1.5rem rgba(0, 0, 0, .2);
}
